#lang-toggle {
    position: absolute; 
    top: 0px;  
    z-index: 100;
    transform: scale(0.75);
    pointer-events: none;
    transform-origin: top left;
}
            
#lang-toggle label {
    pointer-events: auto;
    cursor: pointer;
}

#title {
    text-align: center;
}
